<div id="main_dates_div">
  <div id="add-dates">
    <h2>Dodaj dzień wolny</h2>
    <input type="date" id="datecalendar_admin" class="date_timer_admin open-sans-font" [min]="today"
      [(ngModel)]="pickedDate" />
    <input type="text" id="ForbiddenDate_desc" placeholder="description" [(ngModel)]="writtendescr">
    <button (click)="CreateForbiddenDate()">Confirm</button>
  </div>
  
  <div id="dates_list_contaier">
    <div *ngIf="alldates.length > 0">
      <ul id="dates_list">
        <li class="single_date" *ngFor="let date of alldates">
          {{ date }}
          <button (click)="Delete_date(date)">Delete</button>
          <button (click)="Change_date(date)">Edit</button>
          <br>
          <input type="text" *ngIf="editedDate === date" id="edited_text">
          <div *ngIf="editedDate === date">
            <button (click)="Save_date(date)">Save</button>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>