#main_dates_div {
    margin: auto;
    margin-top: 2%;
    display: flex;
    height: fit-content;
    width: 60%;
    background-color: #E6EAED;
    border: 5px #E6EAED solid;
    border-radius: 15px;
    padding: 15px;
    float: left;
}
#prawa{
    float: right;
}
app-rightside{
    height: 98vh;
    
}
#add-dates {
    display: flex;
    flex-direction: column;
}

#add-dates input, h2, button {
    padding: 5px;
    margin: 5px;
    border-radius: 3px;
}

#dates_list {
    list-style-type: none;
    width: 100%;
    margin-left: 20%;
}

.single_date {
    border-bottom: 3px white solid;
    padding: 5px;
    width: 100%;
}
button {
    background-color: whitesmoke;
    border: #969595 1px solid;
    border-radius: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

input {
    background-color: whitesmoke;
    border: #f5f5f5 2px solid;
    border-radius: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}