.fulllista {
    background-color: rgb(255, 255, 255);
    width: 350px;
    border: 1px solid #ddd;
    padding: 5px;
    border-radius: 5px;
    overflow-y: auto;
    max-height: 55vh;
    margin-right: 4%;
    margin-top: 4%;
    font-size: 1.8ch;
}
#button_delete{
    border: none;
    background-color: white;
    float: right;
    #picture_delete:hover{
        cursor: pointer;
        filter: brightness(0) saturate(100%) invert(77%) sepia(67%) saturate(1264%) hue-rotate(176deg) brightness(80%) contrast(80%);
    }
}
ul {
    margin-top: 1%;
    padding: 0;
}

ul li {
    margin-top: 1%;
    list-style: none;
    border-bottom: 1px solid #eee;
    padding: 8px;
}

ul li:last-child {
    border-bottom: none;
}

#this_user {
    font-weight: bold;
}

