ul{
    margin-top: 3%;
    text-align: center;
    li{
        margin-top: 3%;
        list-style: none;
    }
    
}
.fulllista{
    background-color: rgb(221, 197, 197);
    border-radius: 20px;
    padding: 40px;
    float: right;
}