<div class="main">
  <div class="room" [style.gridTemplateColumns]="'repeat(' + roomWidth + ', 50px)'">
    <ng-container *ngFor="let room of rooms; let rowIndex = index" >
      <ng-container *ngFor="let cell of room.cells; let colIndex = index" style="box-sizing: border-box;">
        <div 
          [ngStyle]="{
            gridRowStart: cell.positionY,
            gridColumnStart: cell.positionX,
            boxShadow: getBorder(room.id, cell.positionY, cell.positionX)
          }"   
          [ngClass]="{
            'desk-cell': cell.isDesk,
            'rotate-right': cell.rotationClass === 'rotate-right',
            'rotate-bottom': cell.rotationClass === 'rotate-bottom',
            'rotate-left': cell.rotationClass === 'rotate-left',
            'clicked': cell.isClicked
          }"
          (click)="onDeskClick(cell)"
          class="place">
          <img *ngIf="cell.isDesk && !cell.isNew"  src="/assets/images/zielonegora.png" alt="Desk Image" class="desk-img" style="--cursor: pointer">
          <img *ngIf="cell.isDesk && cell.isNew"  src="/assets/images/niebieskiegora.png" alt="New Desk Image" class="desk-img" style="--cursor: pointer">
          <img *ngIf="cell.isDeleted" src="/assets/images/czerwonegora.png" alt="Deleted Desk image" class="desk-img">
        </div>
      </ng-container>
    </ng-container>
  </div>

  <div class="desk-menu">
    <p class=current-desk>Aktywna komórka: {{ cellx }}, {{ celly }}</p>
    <div *ngIf="!currentCell?.isDesk && currentCell != null">
      <button class="add-desk" (click)="addDesk()">Dodaj biurko</button>
      <div class="rotation-menu">
        <button class="desk-rotate" (click)="rotate(0)" [ngClass]="{'clicked': currentRotation === 0}"><img src="/assets/images/niebieskiegora.png" alt="Rotate Top Image" class="desk-img" style="--cursor: pointer"></button>
        <button class="desk-rotate rotate-right" (click)="rotate(1)" [ngClass]="{'clicked': currentRotation === 1}"><img src="/assets/images/niebieskiegora.png" alt="Rotate Top Image" class="desk-img" style="--cursor: pointer"></button>
        <button class="desk-rotate rotate-bottom" (click)="rotate(2)" [ngClass]="{'clicked': currentRotation === 2}"><img src="/assets/images/niebieskiegora.png" alt="Rotate Top Image" class="desk-img" style="--cursor: pointer"></button>
        <button class="desk-rotate rotate-left" (click)="rotate(3)" [ngClass]="{'clicked': currentRotation === 3}"><img src="/assets/images/niebieskiegora.png" alt="Rotate Top Image" class="desk-img" style="--cursor: pointer"></button>
      </div>
    </div> 
    <button *ngIf="currentCell?.isDesk" class="remove-desk" (click)="removeDesk()">Usuń biurko</button>
  </div>
</div>
