* {
    border-collapse: collapse;
    margin: 0;
    padding: 0;
  }

  .main {
    display:flex;
  }
  
  .room {
    display: grid;
    gap: 0px;
    padding: 20px;
    margin: 20px;
    background-color: #E6EAED;
    justify-content: center;
    flex-wrap: wrap;
    grid-template-columns: 1fr;
    justify-content: center;
    border-radius: 25px;
    width:fit-content;
  }
  
  .place {
    
    height: 50px;
    width: 50px;
    display: flex;
    position: relative;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    background-color: #E6EAED;
    border-collapse: collapse;
  }
  
  .place:hover {
    background: rgb(215, 212, 212);
  }
  
  .desk-cell {
    position: relative;
    overflow: hidden;
  }
  
  .desk-img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    transition: transform 0.3s ease;
    position: absolute;
  }

  .desk-rotate {
    width: 55px;
    height: 55px;
    display: flex;
    margin:5px;
    justify-content: center;

  }

  .rotation-menu {
    display: flex;
    width: fit-content;
    height: fit-content
  }
  
  .rotate-right .desk-img {
    transform: rotate(90deg);
  }
  
  .rotate-bottom .desk-img {
    transform: rotate(180deg);
  }
  
  .rotate-left .desk-img {
    transform: rotate(270deg);
  }
  
  :hover {
    cursor: pointer;
  }
  
  img[src="/assets/images/zielonegora.png"]:hover
  {
    fill: black;
    filter: brightness(0) saturate(100%) invert(77%) sepia(67%) saturate(1264%) hue-rotate(176deg) brightness(104%) contrast(105%);
  }

  .clicked {
    background: rgb(160, 204, 124);
    border: 2px solid rgb(46, 51, 41);
    border-radius: 3px;
  }