
#map{
    float: left;
    height: fit-content;
    width: fit-content;
    height: 98vh;
}
#prawa{
    float: right;
    margin-top: 0;
    height: 98vh;
    width: 20% ;
    border-left: 2px #D5D8DC solid;
    box-sizing: border-box;

}
#stronka{
    width: 100vw;
    height:  98vh;
    display: flex;
}
