
<div class="header open-sans-font">
  <div class="image">
    <img src="assets/images/belmondo.png" alt="Logo" class="logo">
  </div>
  <div class="date_with_text" *ngIf="pageSwitch == 0">
    <div class="first_step_text">
      <p class="number_for_instruction">1</p>
      <p class="reservation_date ">Wybierz datę rezerwacji  </p>
      <input type="date"  id="datecalendar" class=" date_timer open-sans-font" 
      (input)="onDateChange($event)" [value]="today" [min]="today" />
    </div>
    <div class="second_step_text">
      <p class="number_for_instruction">2</p>
      <p class="pick_one_seat_text">Wskaż jedno miejsce na mapie aby zarezerwować</p>
    </div>
  </div>
  <div class="legends" *ngIf="pageSwitch != 2">
    <p class="legends_text">Legenda</p>
    <div class="legends_descriptions">
      <div class="legend-item">
        <div class="square free"></div>
        <span *ngIf="pageSwitch == 0"> Miejsce wolne</span>
        <span *ngIf="pageSwitch == 1"> Biurko</span>
      </div>
      <div class="legend-item">
        <div class="square reserved"></div>
        <span *ngIf="pageSwitch == 0"> Miejsce zajęte</span>
        <span *ngIf="pageSwitch == 1"> Biurko usunięte</span>
      </div>
      <div class="legend-item">
        <div class="square yours"></div>
        <span *ngIf="pageSwitch == 0"> Twoje miejsce</span>
        <span *ngIf="pageSwitch == 1"> Nowo dodane biurko</span>
      </div>  
    </div>
    
  </div>
<div class="right-icon">
<p></p>
</div>

<div id="profile" (click)="toggleDropdown()">
  <div id="user">
    <img src="assets/images/avatar.png" alt="User avatar">
    <p id="username">{{username}} {{usersurname}}</p>
  </div>

  <ul *ngIf="dropdownVisible" class="menu_list">
    <li class="menu_item" (click)="goToMap()">Mapa biura</li>
    @if(!checkifAdmin()){
      <li class="menu_item" (click)="goToAdminPanel()"> Panel admina</li>
      <li class="menu_item" (click)="GoToEdition()"> Edytor biura</li>
    }
  </ul>
</div>
